@font-face {
  font-family: 'Redaction';
  src: url('fonts/Redaction_70-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Redaction';
  font-size: 25px;
}

body {
  font-family: 'Redaction';
  text-align: center;
  margin: 0;
  padding: 20px;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

video, canvas {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 2px;
}

#nameInput {
  display: flex;
  height: 44px;
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto; 
  gap: 10px;
  align-self: stretch;
  border-radius: 31px;
  border: 1px solid #000;
  background: #ECECEC;
  text-align: center;
  font-family: 'Redaction';
}

button {
  display: flex;
  height: 44px;
  padding: 8px 15px ;
  justify-content: center;
  align-items: center;
  margin: 0 auto auto auto; 
  gap: 10px;
  align-self: stretch;
  border-radius: 31px;
  border: 1px solid #000;
  background-color: white;
  text-align: center;
  font-family: 'Redaction';
}

#nameInput, button {
  width: flex;
  height: 44px;
  border-radius: 31px;
  border: 1px solid #000;
  text-align: center;
}

#controls {
  display: flex;
  flex-direction: column;  /* stack vertically */
  align-items: center;     /* center horizontally */
  gap: 20px;               /* vertical space between elements */
  margin-top: 20px;        /* space from video/canvas */
}

#nameInput, #saveBtn {
  width: 400px;            /* same width for consistency */
  height: 30px;
  border-radius: 31px;
  border: 1px solid #000;
  text-align: center;
  display: block;          /* ensures consistent sizing */
}

/* --- MOBILE LAYOUT --- */
@media (max-width: 600px) {

  body {
    padding: 10px;
  }

  #container {
    width: 80%;
    max-width: 90%;
    margin: 20px auto;
  }

  #cameraHolder {
    width: 100%;
  }

  video, canvas {
    width: 100% !important;
    height: auto !important;
  }

  #nameInput,
  button {
    max-width: 320px;
    font-size: 16px;
    display: flex;
    height: 44px;
  }

  #nameInput {
    font-size: 22px;
  }


  h1 {
    font-size: 20px;
    line-height: 1.3;
    padding: 0 10px;
  }
}
/* --- END MOBILE LAYOUT --- */